<div local-class="container">
  <div local-class="vertical pane">
    <h2 local-class="header">
      Environment

      <select {{on "change" this.onSampleSelect}}>
        <option disabled selected={{eq this.active -1}}>Select a Sample</option>
        {{#each this.samples as |sample index|}}
          <option value={{index}} selected={{eq index this.active}}>
            {{sample.name}}
          </option>
        {{/each}}
      </select>
    </h2>
    <JsonEditor
      local-class="editor"
      @string={{this.envString}}
      @onChange={{fn (mut this.envString)}}
    />
  </div>

  <div local-class="vertical pane">
    <h2 local-class="header">Interface</h2>
    <JsonEditor
      local-class="editor"
      @string={{this.uiString}}
      @onChange={{fn (mut this.uiString)}}
    />
  </div>

  <div local-class="vertical">
    <div local-class="pane">
      <h2 local-class="header">Result</h2>
      <ExclaimUi
        local-class="rendered"
        @ui={{this.ui}}
        @env={{this.env}}
        @implementationMap={{this.implementationMap}}
        @wrapper={{component "sample-wrapper"}}
        as |error|
      >
        Error:
        {{error.message}}
      </ExclaimUi>
    </div>
    <div local-class="pane">
      <h2 local-class="header">Demo Component Documentation</h2>
      <div local-class="impls">
        {{#each-in this.implementationMap as |name impl|}}
          {{#if impl.component}}
            <div local-class="impl">
              <code local-class="code-element">{{name}}</code>:
              {{impl.meta.description}}
              <ul>
                {{#each impl.meta.properties as |property|}}
                  <li>
                    <code
                      local-class="code-element {{if
                        (eq impl.shorthandProperty property.name)
                        'shorthand'
                      }}"
                    >
                      {{~property.name~}}
                    </code>:
                    {{property.description}}
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}
        {{/each-in}}
      </div>
      <h2 local-class="header">Demo Helper Documentation</h2>
      <div local-class="impls">
        {{#each-in this.implementationMap as |name impl|}}
          {{#if impl.helper}}
            <div local-class="impl">
              <code local-class="code-element">{{name}}</code>:
              {{impl.meta.description}}
              <ul>
                {{#each impl.meta.properties as |property|}}
                  <li>
                    <code
                      local-class="code-element {{if
                        (eq impl.shorthandProperty property.name)
                        'shorthand'
                      }}"
                    >
                      {{~property.name~}}
                    </code>:
                    {{property.description}}
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}
        {{/each-in}}
      </div>
    </div>
  </div>
</div>