{{#leadlight-layout local-class='container' panes=panes update=(action (mut panes)) as |layout|}}
  {{#layout.panes local-class='document-root' as |pane|}}
    <div local-class="document">
      {{#if pane.activeDocument.render}}
        <h2 local-class="header">Result</h2>
        {{#exclaim-ui
          local-class="rendered"
          ui=(json uiString)
          env=(json envString)
          componentMap=componentMap
          as |error|
        }}
          Error: {{error.message}}
        {{/exclaim-ui}}
      {{else if pane.activeDocument.config}}
        <h2 local-class="header">Interface</h2>
        {{json-editor
          local-class='editor'
          string=uiString
          onChange=(action (mut uiString))
        }}
      {{else if pane.activeDocument.data}}
        <h2 local-class="header">
          Environment

          <select onchange={{action (mut active) value='target.value'}}>
            <option disabled selected={{eq active -1}}>Select a Sample</option>
            {{#each samples as |sample index|}}
              <option value={{index}} selected={{eq index active}}>{{sample.name}}</option>
            {{/each}}
          </select>
        </h2>
        {{json-editor
          local-class='editor'
          string=envString
          onChange=(action (mut envString))
        }}
      {{else if pane.activeDocument.docs}}
        <h2 local-class="header">Demo Component Documentation</h2>
        <div local-class="components">
          {{#each docs as |component|}}
            <div local-class="component">
              <code local-class="code-element">{{component.name}}</code>: {{component.description}}
              <ul>
                {{#each component.properties as |property|}}
                  <li>
                    <code local-class="code-element {{if (eq component.shorthandProperty property.name) 'shorthand'}}">
                      {{~property.name~}}
                    </code>:
                    {{property.description}}
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  {{/layout.panes}}
{{/leadlight-layout}}
